* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        'header'
        'gallery'
        'footer';
}

#header {
    grid-area: header;
    display: grid;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

#gallery {
    background-color: #506296;
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(450px, auto));
    overflow-x: hidden;
}

#footer {
    grid-area: footer;
    height: 40px;
    background: black;
    color: white;
    text-align: left;
    font-size: 1em;
    padding: 30px 10px 0px 20px;
}

.infoSpace {
    display: grid;
    background-color: #a6baf6;
    font-size: 16px;
    width: 450px;
    height: 450px;
    padding: 5px;
    margin: 8px;
}

@media (max-width: 470px){
    .infoSpace{
        margin-left: 0;
        max-width: 98vw;
        height: 480px;
        padding: 5px;
    }
}