<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Random</title>
</head>
<body>
    <div id="header">
        <header>Random Users</header>
    </div>
    <div id="gallery">
        <ol>
            <% users.forEach(({name, city}) => {%>
                <li>
                    
                    <%= `${name} is from ${city}` %></li>
            <% }) %>   
        </ol>
    </div>
    <div id="footer">
        <%- include('../partials/footer') %>
    </div>
</body>
</html>